This notebook shows how to recode the encoded variables in the dataset to human-readable values. The files used in this notebook are available on the [data download page](https://www.drivendata.org/competitions/217/cdc-fall-narratives/data/).

Key findings

### What are 2-3 takeaways from your exploration?

### Summary of your approach

- Describe the data source(s) you used (e.g., if supplementary or external data was used, how the data was subsetted, if at all).
- What did you do and why (e.g., preprocessing, key features, algorithms you used, unique or novel aspects of your solution, etc.)?
- What worked and what didn’t? How did you evaluate the performance of your approach?
- What are some limitations of your analysis?

### Visualizations

Do you have any useful tables, charts, graphs, or visualizations from the process (e.g., exploring the data, testing different features, summarizing model performance, etc.)?


Winners will be selected by a judging panel of domain experts and researchers. Submissions will be judged according to the following weighted criteria:

- Novelty (35%)
    - To what extent does this submission utilize creative, cutting-edge, or innovative techniques? This can be demonstrated in any or all parts of the submission (e.g., preprocessing, embeddings, models, visualizations).
- Communication (25%)
    - To what extent are findings clearly and effectively communicated? This includes both text and visuals.
- Rigor (20%)
    - To what extent is this submission based on appropriate and correctly implemented methods and approaches (e.g., preprocessing, embeddings, models) with adequate sample sizes?
- Insight (20%)
    - To what extent does this submission contain useful insights about the effectiveness of unsupervised machine learning methods at uncovering patterns in this data and/or informative findings that can advance the research on circumstances related to older adult falls?

We know this is an open-ended challenge. To help, we are providing some guiding lines of inquiry to help you get started. Feel free to use these or try something completely different!

- What information about falls is contained in the narrative but not captured by the other variables?  
- What precipitating events — actions that happen right before the fall — can be identified?  
- How do falls (e.g., severity, type of fall injury) and fall circumstances (e.g., precipitating event, activity involved) differ among various demographic groups (e.g., by race, sex, age)?  
- Are there trends over time in the types of falls that occur?  
- What kinds of people, places, or things are associated with more or more severe falls? Are there alternative explanations for these associations?
- What risk factors are associated with falls?  
- The goal of this challenge is to explore the application of unsupervised machine learning techniques to this dataset. Below are some examples of analysis that would be a good fit for this challenge, as well as examples of analysis that are not a good fit.

Good fit

- Remove words from the narratives that are found in other variables (e.g., male, female, body parts) and cluster the remaining text to identify what information is in the narratives that is not captured elsewhere. Then use word embeddings to remove similar words and repeat the analysis.
- Design a way to identify the "precipitating event" before a fall (e.g., tripping on carpet) and compare differences in precipitating events among various demographic groups.
- Explore various clustering algorithms using the provided embeddings. Use the ChatGPT API to produce summaries of the clusters. Compare the results of using the embeddings versus using more traditional bag-of-words preprocessing techniques (e.g., stop word and punctuation removal, stemming and lemmatization, and token weighting such as TF-IDF).

In [1]:
import numpy as np
import pandas as pd
import json
from pathlib import Path

### load variable mapping

In [95]:
with Path("variable_mapping.json").open("r") as f:
    mapping = json.load(f, parse_int=True)

In [96]:
# convert the encoded values in the mapping to integers since they get read in as strings
for c in mapping.keys():
    mapping[c] = {int(k): v for k, v in mapping[c].items()}

In [97]:
# the keys in the dictionary correspond to columns in the primary (and supplementary) data
mapping.keys()

dict_keys(['sex', 'race', 'hispanic', 'alcohol', 'drug', 'body_part', 'body_part_2', 'diagnosis', 'diagnosis_2', 'disposition', 'location', 'fire_involvement', 'product_1', 'product_2', 'product_3'])

In [98]:
# mapping for 'sex' column
mapping["sex"]

{0: 'UNKNOWN', 1: 'MALE', 2: 'FEMALE', 3: 'NON-BINARY/OTHER'}

### load primary data

In [99]:
df = pd.read_csv(
    "primary_data.csv",
    # set columns that can be null to nullable ints
    dtype={"body_part_2": "Int64", "diagnosis_2": "Int64"},
)
df.head()

,cpsc_case_number,narrative,treatment_date,age,sex,race,other_race,hispanic,diagnosis,other_diagnosis,...,body_part,body_part_2,disposition,location,fire_involvement,alcohol,drug,product_1,product_2,product_3
0,190103269,94YOM FELL TO THE FLOOR AT THE NURSING HOME ON...,2019-01-01,94,1,0,NaN,0,62,NaN,...,75,<NA>,4,5,0,0,0,1807,0,0
1,190103270,86YOM FELL IN THE SHOWER AT HOME AND SUSTAINED...,2019-01-01,86,1,0,NaN,0,62,NaN,...,75,<NA>,4,1,0,0,0,611,0,0
2,190103273,87YOF WAS GETTING UP FROM THE COUCH AND FELL T...,2019-01-01,87,2,0,NaN,0,53,NaN,...,32,<NA>,4,1,0,0,0,679,1807,0
3,190103291,67YOF WAS AT A FRIENDS HOUSE AND SLIPPED ON WA...,2019-01-01,67,2,0,NaN,0,57,NaN,...,33,<NA>,1,1,0,0,0,1807,0,0
4,190103294,70YOF WAS STANDING ON A STEP STOOL AND FELL OF...,2019-01-01,70,2,0,NaN,0,57,NaN,...,33,<NA>,1,1,0,0,0,620,0,0

In [100]:
# look at data types
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 115128 entries, 0 to 115127
Data columns (total 22 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   cpsc_case_number   115128 non-null  int64
 1   narrative          115128 non-null  object
 2   treatment_date     115128 non-null  object
 3   age                115128 non-null  int64
 4   sex                115128 non-null  int64
 5   race               115128 non-null  int64
 6   other_race         1022 non-null    object
 7   hispanic           115128 non-null  int64
 8   diagnosis          115128 non-null  int64
 9   other_diagnosis    2522 non-null    object
 10  diagnosis_2        43145 non-null   Int64
 11  other_diagnosis_2  4978 non-null    object
 12  body_part          115128 non-null  int64
 13  body_part_2        43145 non-null   Int64
 14  disposition        115128 non-null  int64
 15  location           115128 non-null  int64
 16  fire_involvement   115128 non-null  int64
 17  alcohol            115128 non-null  int64
 18  drug               115128 non-null  int64
 19  product_1          115128 non-null  int64
 20  product_2          115128 non-null  int64
 21  product_3          115128 non-null  int64
dtypes: Int64(2), int64(15), object(5)
memory usage: 19.5+ MB

### replace numeric values with corresponding strings

In [101]:
decoded_df = df.copy()

for col in mapping.keys():
    decoded_df[col] = decoded_df[col].map(mapping[col])

In [102]:
decoded_df.head(3).transpose()

,0,1,2
cpsc_case_number,190103269,190103270,190103273
narrative,94YOM FELL TO THE FLOOR AT THE NURSING HOME ON...,86YOM FELL IN THE SHOWER AT HOME AND SUSTAINED...,87YOF WAS GETTING UP FROM THE COUCH AND FELL T...
treatment_date,2019-01-01,2019-01-01,2019-01-01
age,94,86,87
sex,MALE,MALE,FEMALE
race,N.S.,N.S.,N.S.
other_race,NaN,NaN,NaN
hispanic,Unk/Not stated,Unk/Not stated,Unk/Not stated
diagnosis,62 - INTERNAL INJURY,62 - INTERNAL INJURY,"53 - CONTUSIONS, ABR."
other_diagnosis,NaN,NaN,NaN
diagnosis_2,NaN,NaN,NaN
other_diagnosis_2,NaN,NaN,NaN
body_part,75 - HEAD,75 - HEAD,32 - ELBOW
body_part_2,NaN,NaN,NaN
disposition,4 - TREATED AND ADMITTED/HOSPITALIZED,4 - TREATED AND ADMITTED/HOSPITALIZED,4 - TREATED AND ADMITTED/HOSPITALIZED
location,PUBLIC,HOME,HOME
fire_involvement,NO/?,NO/?,NO/?
alcohol,No/Unk,No/Unk,No/Unk
drug,No/Unk,No/Unk,No/Unk
product_1,1807 - FLOORS OR FLOORING MATERIALS,611 - BATHTUBS OR SHOWERS,"679 - SOFAS, COUCHES, DAVENPORTS, DIVANS OR ST..."
product_2,0 - None,0 - None,1807 - FLOORS OR FLOORING MATERIALS
product_3,0 - None,0 - None,0 - None

In [103]:
# ensure mappings were applied correctly by checking that the number of missing values did not change
assert (decoded_df.isnull().sum() == df.isnull().sum()).all()

In [127]:
random_sample = decoded_df.sample(n=5000, replace=False, random_state=42)

In [128]:
random_sample_sub = random_sample.iloc[:,0:2]

In [129]:
random_sample_sub.head()

        cpsc_case_number                                          narrative
80147          220302739  74YOF WAS SITTING IN A WHEELCHAIR LEANING FORW...
48158          210101788  69YOF WAS PLAYING WITH HER GRANDCHILD WHEN SHE...
112225         221250671  90YOF TRIPPED GETTING OUT OF AN ELEVATOR AND H...
50792          210212098  101YOF SLIPPED ON NYLON SOCKS WHILE COMING OUT...
115089         230214236  66YOM PRESENTS AFTER A SYNCOPAL EPISODE WITH F...

In [130]:
import re

def replace_with_space(text, target="DX"):
    import re
    replaced_text = re.sub(r'(\S)({})'.format(re.escape(target)), r'\1 {}'.format(target), text)
    replaced_text = re.sub(r'({})(\S)'.format(re.escape(target)), r'{} \2'.format(target), replaced_text)
    return replaced_text

In [131]:
random_sample_sub['narrative'] = random_sample_sub['narrative'].apply(lambda x: replace_with_space(x, "DX"))
random_sample_sub['narrative'] = random_sample_sub['narrative'].apply(lambda x: replace_with_space(x, "&"))
random_sample_sub['narrative'] = random_sample_sub['narrative'].apply(lambda x: replace_with_space(x, ">>"))

# NLP

In [ ]:
import spacy

In [ ]:
print(spacy.__version__)

In [ ]:
nlp = spacy.blank("en")
print(nlp.pipe_names)

In [ ]:
nlp = spacy.load("en_core_web_sm")
print(nlp.pipe_names)

In [ ]:
doc = nlp("HISTORY OF PRESENT ILLNESS:,  The patient is well known to me for a history of iron-deficiency anemia due to chronic blood loss from colitis.  We corrected her hematocrit last year with intravenous (IV) iron.  Ultimately, she had a total proctocolectomy done on 03/14/2007 to treat her colitis.  Her course has been very complicated since then with needing multiple surgeries for removal of hematoma.  This is partly because she was on anticoagulation for a right arm deep venous thrombosis (DVT) she had early this year, complicated by septic phlebitis.,Chart was reviewed, and I will not reiterate her complex history.")

In [ ]:
print("TEXT", "START", "END", "ENTITY TYPE")
for ent in doc.ents:
    print(ent.text, ent.start_char, ent.end_char, ent.label_)

In [ ]:
from spacy import displacy
displacy.render(doc[:100], style='ent', jupyter=True)

# My Model

Corrected data

In [ ]:
from spacy import displacy
displacy.render(doc, style="span", jupyter = True)

In [10]:
import spacy

In [67]:
fall = pd.read_csv('corrected_fall_set3.csv')

In [68]:
fall.head()

,key_entry,span,label
0,94YOF HX OF DEMENTIA S/P POSSIBLE UNWITNESSED ...,FRAME FELL ON HER NOSE,AO
1,70YOF WITH FALL FROM BED DX: LT INTEROTROCHANT...,FALL FROM BED,CHR
2,81 YOM FROM HOME WITH A FALL FROM HIS BED TO T...,FALL FROM HIS BED,CHR
3,70 YOF C/O INJ TO HEAD/FACE AFTER FALL OFF THE...,FALL OFF THE TOLIET,CHR
4,80YOF FALL OFF TOILET ONTO FLOOR AND C/O UNSUR...,FALL OFF TOILET,CHR

In [70]:
# Replace leading whitespaces using a regular expression
fall['span'] = fall['span'].str.replace(r'^\s+', '', regex=True)

In [72]:
replace_with_space("REACHING FOR A PILLOW&ROLLED OUT OF BED LANDING", "&")

'REACHING FOR A PILLOW & ROLLED OUT OF BED LANDING'

In [73]:
fall['key_entry'] = fall['key_entry'].apply(lambda x: replace_with_space(x, "DX"))
fall['key_entry'] = fall['key_entry'].apply(lambda x: replace_with_space(x, "&"))
fall['key_entry'] = fall['key_entry'].apply(lambda x: replace_with_space(x, ">>"))

In [76]:
fall_nas = fall[fall['label'].isna()]
len(fall_nas)

45

In [75]:
fall_labeled = fall[fall['label'].isna() == False]

In [77]:
key_list = fall_labeled.key_entry.unique()
len(key_list)

279

In [78]:
fall_labeled[fall_labeled.key_entry == key_list[1]]

                                           key_entry           span label
1  70YOF WITH FALL FROM BED DX : LT INTEROTROCHAN...  FALL FROM BED   CHR

In [85]:
nlp = spacy.blank("en")
from spacy.tokens import Span

# keeping span token lengths to appropriately set config
token_lengths = []

docs=[] # this will hold the processed strings and spans
for k in key_list:
    doc = nlp(k)
    temp_df = fall_labeled[fall_labeled.key_entry == k]

    if len(temp_df)==1:              
        span_text = temp_df.iloc[0,1]
        temp_label = temp_df.iloc[0,2]       
        span_start_char = k.find(span_text)
        span_end_char = span_start_char + len(span_text)

        # Finding the start and end tokens using character offsets
        start_token = None
        end_token = None
        for token in doc:
            if token.idx == span_start_char:
                 start_token = token.i
            if token.idx + len(token.text) == span_end_char:
                end_token = token.i
                break
        if start_token is not None and end_token is not None:
            temp_start = start_token
            temp_end = end_token + 1
            doc.spans["sc"] = [Span(doc, temp_start, temp_end, temp_label)]
            docs.append(doc)
            token_lengths.append(temp_end - temp_start)
        else:
            print(k, "span=", span_text,"couldn't find tokens")
    else:
        print("temp_df has length > 1")
        span_list = []
        for ent in range(len(temp_df)):
            span_text = temp_df.iloc[ent,1]
            temp_label = temp_df.iloc[ent,2]
            span_start_char = k.find(span_text)
            span_end_char = span_start_char + len(span_text)
            print(span_start_char, span_end_char)

            # Finding the start and end tokens using character offsets
            start_token = None
            end_token = None
            for token in doc:
                if token.idx == span_start_char:
                     start_token = token.i
                if token.idx + len(token.text) == span_end_char:
                    end_token = token.i
                    break
            if start_token is not None and end_token is not None:
                temp_start = start_token
                temp_end = end_token + 1             
                span_list.append(Span(doc, temp_start, temp_end, temp_label))
                token_lengths.append(temp_end - temp_start)
            else:
                print(k, "span=",span_text, "couldn't find tokens")
        
        doc.spans["sc"] = span_list
    docs.append(doc)

temp_df has length > 1
23 38
39 62
temp_df has length > 1
23 38
82 106
temp_df has length > 1
20 38
43 71
temp_df has length > 1
59 81
148 180
temp_df has length > 1
31 65
66 96
temp_df has length > 1
79 92
51 74
104 116
temp_df has length > 1
23 36
37 52
temp_df has length > 1
6 22
43 52
temp_df has length > 1
9 28
29 55
83YOM SITTING AT TABLE  AND FELL OUT CHAIR-- DX :HEAD INJURY span= FELL OUT CHAIR couldn't find tokens
temp_df has length > 1
6 25
26 43
temp_df has length > 1
6 21
89 130
temp_df has length > 1
6 21
22 32
temp_df has length > 1
6 21
22 47
temp_df has length > 1
56 71
76 97
temp_df has length > 1
27 44
56 68
temp_df has length > 1
31 54
55 69
temp_df has length > 1
32 49
8 29
50 86
temp_df has length > 1
6 23
41 62
temp_df has length > 1
60 77
7 26
79 94
temp_df has length > 1
30 47
49 74
98 122
temp_df has length > 1
9 22
38 59
temp_df has length > 1
31 44
72 88
temp_df has length > 1
7 27
80 96
60 79
temp_df has length > 1
15 35
54 91
temp_df has length > 1
6 15
29 46
temp_df has length > 1
40 50
60 72
temp_df has length > 1
6 16
26 44
temp_df has length > 1
7 28
49 62
70 89
temp_df has length > 1
44 66
72 85
65YOM, WAS @ CARWASH VACUUMING HIS CAR WHEN SUFFERED FROM SYNCOPAL FALL STRIKING HEAD+LOC, C/O CHEST WALL PAIN DX : HEAD INJURY, MUSCLE STRAIN, SYNCOPE span= STRIKING HEAD couldn't find tokens
temp_df has length > 1
21 35
48 66
temp_df has length > 1
26 42
53 79
temp_df has length > 1
126 142
150 178
106 125
temp_df has length > 1
94 110
115 135
temp_df has length > 1
11 23
24 37
temp_df has length > 1
22 32
54 68
temp_df has length > 1
27 35
36 48
temp_df has length > 1
45 58
112 134
66 91
159 182
temp_df has length > 1
12 59
69 125
temp_df has length > 1
7 25
69 101
146 179
temp_df has length > 1
68 91
69YOF HX STAGE IV THYROID CANCER WITH METASTASIS TO LUNGS CURRENTLY ON IMMUNOLOGIC THERAPY WITH TRAMETINIB AND DABRAFENIB PRESENTS WITH ALTERED MENTAL STATUS AND FALL. PER FAMILY, PT WAS GETTING OUT OF BED AND FELL ONTO CARPETED FLOOR. DX : CEREBELLAR LESION span= ON IMMUNOLOGIC THERAPY  couldn't find tokens
187 205
temp_df has length > 1
44 76
105 157
14 26
temp_df has length > 1
24 51
73 92
temp_df has length > 1
64 79
84 108
temp_df has length > 1
114 140
157 203
temp_df has length > 1
15 45
78 95
temp_df has length > 1
19 52
63 74
temp_df has length > 1
18 31
111 129
temp_df has length > 1
30 51
71 95
temp_df has length > 1
50 78
83 112
temp_df has length > 1
33 57
134 187
temp_df has length > 1
120 144
146 162
temp_df has length > 1
125 148
75 83
temp_df has length > 1
6 40
50 69
temp_df has length > 1
6 29
51 71
temp_df has length > 1
7 23
24 44
temp_df has length > 1
40 58
61 73
76 87
temp_df has length > 1
48 68
86 110
temp_df has length > 1
20 41
69 80
temp_df has length > 1
7 29
72 103
temp_df has length > 1
37 61
78 92
13 36
110 132
temp_df has length > 1
9 29
35 56
temp_df has length > 1
74 94
112 136
temp_df has length > 1
7 30
36 49
temp_df has length > 1
91 111
140 157
temp_df has length > 1
45 66
83 106
temp_df has length > 1
60 86
6 23
temp_df has length > 1
23 69
77 91
temp_df has length > 1
6 15
56 65
temp_df has length > 1
28 51
5 23
temp_df has length > 1
60 86
92 103
temp_df has length > 1
34 65
97 121
93YOF STOOD UP FROM ROCKING CHAIR,WHILE BENT OVER PICKING UP CANE, LOST BALANCE  & FELL FORWARD, STRUCK HEAD ON FIREPLACE;LG HEMATOMA LT HAND,ABRASION RT FRONTAL SCALP   DX :  FALL FROM GROUND LEVEL   # span= STRUCK HEAD ON FIREPLACE couldn't find tokens
temp_df has length > 1
20 34
48 75
temp_df has length > 1
87 110
26 43
temp_df has length > 1
58 73
40 53
temp_df has length > 1
35 56
62 95
temp_df has length > 1
68 87
43 63
temp_df has length > 1
43 68
18 42
temp_df has length > 1
49 68
22 40
temp_df has length > 1
131 153
110 129
45 66
temp_df has length > 1
111 145
80 101
temp_df has length > 1
55 64
6 34
temp_df has length > 1
35 44
6 34
temp_df has length > 1
21 40
41 54
temp_df has length > 1
6 24
25 39
temp_df has length > 1
17 39
57 73
temp_df has length > 1
62 89
31 48
temp_df has length > 1
90 110
53 81
temp_df has length > 1
111 143
79 97
temp_df has length > 1
87 106
45 61
temp_df has length > 1
32 47
7 25
temp_df has length > 1
44 71
24 43
temp_df has length > 1
63 97
26 49
88YOF LOST GRIP OF WALKER,FELL BACKWARDS HITTING HEAD ON DRESSER-- DX :LAC SCALP span= HITTING HEAD ON DRESSER couldn't find tokens
temp_df has length > 1
11 33
42 56
temp_df has length > 1
61 85
38 56
temp_df has length > 1
60 80
42 59
temp_df has length > 1
92 125
33 58
temp_df has length > 1
62 86
16 35
temp_df has length > 1
27 44
7 26
temp_df has length > 1
34 69
11 29
temp_df has length > 1
27 52
182 201
temp_df has length > 1
6 22
43 55
temp_df has length > 1
67 95
21 54
temp_df has length > 1
10 36
39 47
temp_df has length > 1
7 33
37 45
*65YOM,FELL BACKWARDS DOWN STAIRS AN HIT HEAD.LOWBACK, DX :CONT SCALP,LOWBACK STRAIN span= HIT HEAD couldn't find tokens
temp_df has length > 1
48 67
9 26
temp_df has length > 1
148 161
59 84
temp_df has length > 1
24 46
106 132
51 91
temp_df has length > 1
19 38
39 52
temp_df has length > 1
59 81
126 156
temp_df has length > 1
69 81
44 67
temp_df has length > 1
57 74
28 45
temp_df has length > 1
96 108
24 50
temp_df has length > 1
35 53
6 24
temp_df has length > 1
34 46
61 91
temp_df has length > 1
83 99
45 67
temp_df has length > 1
57 89
6 20
temp_df has length > 1
60 76
10 29
temp_df has length > 1
52 65
23 51
temp_df has length > 1
48 61
25 47
temp_df has length > 1
98 111
38 71
temp_df has length > 1
74 93
114 132
temp_df has length > 1
143 175
89 116
90YOF.GETTING OUT BED FELL DOWN ON FLOOR. DX .HEAD TRAUMA AND CHEST. span= GETTING OUT BED couldn't find tokens

In [80]:
len(docs)

433

In [90]:
print(np.min(token_lengths), np.max(token_lengths), np.median(token_lengths))

2 14 4.0

In [93]:
np.histogram(token_lengths)

(array([141, 134,  58,  41,  20,   8,   3,   2,   2,   1]),
 array([ 2. ,  3.2,  4.4,  5.6,  6.8,  8. ,  9.2, 10.4, 11.6, 12.8, 14. ]))

Make training and test sets with the docs

In [81]:
from spacy.tokens import DocBin

In [82]:
doc_bin = DocBin(docs=docs[0:300])

In [83]:
doc_bin.to_disk("./train_230928.spacy")

In [84]:
doc_bin = DocBin(docs=docs[300:])
doc_bin.to_disk("./dev_230928.spacy")

python -m spacy init config ./config.cfg --lang en --pipeline spancat

## Using model

In [114]:
nlp = spacy.load("outputs230928/model-best")

In [132]:
random_sample_sub.iloc[1000,1]

'HEAD INJ/91YOWF WAS AMBULATING IN CHURCH WHEN LOST HER FOOT ON A STEP AND FELL DOWN 1 STEP, FALLING & STRIKING HER FOREHEAD ON THE FLOOR.NO LOC BUT C/O HEADACHE.'

In [133]:
doc = nlp(random_sample_sub.iloc[1000,1])
doc.text

'HEAD INJ/91YOWF WAS AMBULATING IN CHURCH WHEN LOST HER FOOT ON A STEP AND FELL DOWN 1 STEP, FALLING & STRIKING HER FOREHEAD ON THE FLOOR.NO LOC BUT C/O HEADACHE.'

In [134]:
for span in doc.spans["sc"]:
    print(span.label_, span.start, span.end, span.text)

In [136]:
random_sample_sub2 = random_sample_sub.iloc[1000:1100,]
for text in random_sample_sub2['narrative']:
    print(text)
    doc = nlp(text)
    for span in doc.spans["sc"]:
        print(span.label_, span.start, span.end, span.text)

HEAD INJ/91YOWF WAS AMBULATING IN CHURCH WHEN LOST HER FOOT ON A STEP AND FELL DOWN 1 STEP, FALLING & STRIKING HER FOREHEAD ON THE FLOOR.NO LOC BUT C/O HEADACHE.
76YOF HAD A SYNCOPAL EVENT IN THE SHOWER, FELL HITTING HEAD DX : CONTUSION SCALP, SYNCOPE
COL 3 5 SYNCOPAL EVENT
SU 10 12 HITTING HEAD
78YOM ROLLED OUT OF BED AND FELL ONTO CARPET DX : CONTUSION OF CHEST WALL
SF 6 9 FELL ONTO CARPET
CHR 1 5 ROLLED OUT OF BED
85 YOF FELL  IN FLOOR AT HOME  DX ;  CHI
73YOM   PT TRIPPED ON DOG WHEN HE WAS HE WAS TURNING AROUND,CAUSED PT TO FALL TO FLOOR, STRUCK LT SIDE AGAINST COFFEE TABLE     DX :  LT RIB FRACTURES    #
OBJ 3 6 TRIPPED ON DOG
SO 21 27 STRUCK LT SIDE AGAINST COFFEE TABLE
76YOF STOOD FROM BED & FELL ONTO CHAIR. DX : MULTI RIB FX, NONDISPLACED FX OF CORONOID PROCESS OF LEFT ULNA, HIP HEMATOMA
TRS 1 4 STOOD FROM BED
SO 5 8 FELL ONTO CHAIR
77YOF WAS PUTTING A COMFORTER ON THE TOP SHELF OF HER CLOSET WHEN SHE FELL BACKWARDS STRIKING HER UPPER BACK ON THE EDGE OF THE DOOR DX : RIB FRACTURE
72YOM WAS IN HIS GARAGE FELL OFF OF THE LADDER WHILE TRYING TO GET INTO HIS ATTIC STRIKING HIS HEAD DX : CONCUSSION
SU 17 20 STRIKING HIS HEAD
LAD 6 10 OFF OF THE LADDER
72 YOM SLIPPED AND FELL WHILE TAKING A SHOWER HITTING HEAD ON THE TUB, NOT TAKING BLOOD THINNERS, DX : CLOSED HEAD INJURY, CERVICAL STRAIN
SO 9 14 HITTING HEAD ON THE TUB
93YOF WENT TO STAND UP OUT OF A CHAIR AND GOT DIZZY AND FELL STRIKING HEAD ON THE CORNER OF A TABLE DX : LACERATION TO EAR
80YOM PT WAS IN THE SHOWER WHEN HE HAD A FALL FACE DOWN. DX : GLF, EYEBROW LACERATION,
97YOF FELL OUT OF A WHEELCHAIR TO THE FLOOR AT THE NH DX : LEFT HIP FX CLOSED HEAD INJURY
CHR 1 6 FELL OUT OF A WHEELCHAIR
94YOM PT STATES WAS GETTING A GLASS OF WATER AND SPILLED SOME WATER AND SLIPPED AND FELL ONTO FLOOR AT DAUGHTERS HOUSE DX CONTUSION TO LEFT LOWER LEG, CONTUSION TO LEFT KNEE
SF 16 19 FELL ONTO FLOOR
84YOM C/O SYNCOPAL EPISODE FALL TO FLOOR  AND HIT HEAD ON DRESSER DX SYNCOPE
COL 4 6 SYNCOPAL EPISODE
SO 11 15 HIT HEAD ON DRESSER
89 YOF INJ LOW BACK LOST BALANCE FELL TO FLOOR IN KITCHEN AT HOME DX CERVICAL STRAIN, LUMBAR STRAIN ;
81 YOF INJURED HEAD, NECK , THORACIC, LUMBAR, FALL, IN BATHROOM, SLIPPED ON WET FLOOR, HIT HEAD, AT HOME. DX -FALL, HEAD INJURY, NECK PAIN, THORACIC PAIN, LUMBAR PAIN
87YOF EMS REPORTS PT FOUND NEXT TO BED HAD A FALL YESTERDAY NIECE REPORTS PT NORMALLY SLIDES OUT OF BED B/C WEAKNESS IN THE PROCESS SLID ONTO THE FLOOR LOST BALANCE FELL UNK DOWN TIME +8CM LAC RT ARM DX : SVT RT RIB FX
TRS 16 20 SLIDES OUT OF BED
83YOF WAS OPENING SLIDING DOOR FELL ONTO FLOOR AND STRIKING HEAD DX CLOSED HEAD INJURY
SU 9 11 STRIKING HEAD
72YM DMENTED SUFFERED FROM SYNCOPAL FALL WHILE WALKING, FAMILY HEARD THUD & FD HIM ON THE FLOOR +LOC/SNORING RESP. >> SAH/SDH
COL 2 5 SUFFERED FROM SYNCOPAL
80 YOF TRIPPED OVER HER SHOES AND FELL ABOUT AN HOUR AGO. DX : FRACTURE NASAL BONE
OBJ 2 6 TRIPPED OVER HER SHOES
82 YOF WAS TRYING TO TAKE HER SOCK OFF WHEN SHE HAD A SLIP AND FALL LANDING ONTO BUTTOCKS DX : CONTUSION TO BUTTOCKS
SF 16 19 LANDING ONTO BUTTOCKS
OBJ 3 8 TRYING TO TAKE HER SOCK
86YOF SLIPPED IN BATHROOM HITTING HEAD ON CABINET THEN FLOOR DX CERVIALSPINE FX NASAL FX'
SO 4 8 HITTING HEAD ON CABINET
79 YOM C/O INJ TO FOREHEAD AFTER TRIP/FALL IN YARD OVER SCAFFOLDING AND STRUCK HEAD DX LAC TO THE SCALP
SU 17 19 STRUCK HEAD
83YOM C/O TRIP AND FALL TO FLOOR FROM STANDING TRYING TO TAKE OUT A POT, HITTING BACK OF HEAD. + POSTERIOR SCALP ABRASION, ? LOC DX FALL
SU 18 22 HITTING BACK OF HEAD
65 YOM BIBA FROM HOME AFTER FALL ON THE STAIRS, C/O PAIN RIGHT THIGH, DX : QUADRICEP TENDON RUPTURE
OBJ 6 10 FALL ON THE STAIRS
68YOF FELL GETTING UP FROM THE COUCH AND TWISTED LEFT ANKLE DX : STRAINED ANKLE
83YOM WAS WALKING DOWN THE STEPS AND SLIPPED AND FELL DOWN ABOUT 10 STEPS. DX : UPPER TRUNK FX, UPPER ARM FX, NECK FX
STR 2 6 WALKING DOWN THE STEPS
STR 9 14 FELL DOWN ABOUT 10 STEPS
92YOF, FELL OUT OF BED @ ECF STRIKING HEAD W/O LOC, ALSO WALKED INTO A WALL WITH SHOULDER PAIN DX : CHI, FACIAL LACERATION, SHOULDER PAIN
SU 8 10 STRIKING HEAD
CHR 2 6 FELL OUT OF BED
74YOM.FALLING LOSS BALANCE FALLING DOWN ON FLOOR. DX .FRAX.NASAL BONE.
94YOF FELL TO THE FLOOR AT THE NH DX : CLOSED HEAD INJURY CONTUSION TO FACE
86YOF, ON ***, WAS SHOPPING WHEN TRIPPED OVER A DISPLAY IN THE MIDDLE OF THE ASILE AND FELL, DX : PERIOROBTIAL CONTUSION,  CONTUSION OF LEFT KNEE
OBJ 10 17 TRIPPED OVER A DISPLAY IN THE MIDDLE
89YOF PT TRIPPED OVER A FOOTSTOOL. DX : LEFT FEMUR FX.*
OBJ 2 6 TRIPPED OVER A FOOTSTOOL
79YOF WITNESS (SON) FALL DOWN 17 STEPS@HOME, FELL HALFWAY GOT UP THEN FELL THE DISTANCE; +LOC; INJ TO FOREHEAD & NECK; DX : FOREHEAD HEMATOMA; PARIETAL ABRASION
85YOF PRESENTS TO ED FOR FALL OUT OF BED OR SHOWER SHE IS NOT QUITE SURE CO LOW BACK AND RT LOWER LEG PAIN + ELBOW LAC DX : FALL, THORACIC BACK PAIN, RIGHT ELBOW LAC, RT LEG PAIN
CHR 5 9 FALL OUT OF BED
85YOF PATIENT HAD GROUND LEVEL FALL ONTO CARPET 2 DAYS AGO HAVING RIGHT HIP PAIN DX : FALL FROM GROUND LEVEL, FEMORAL NECK FRACTURE, HIP PAIN
84YOM FALL FROM STANDING TO FLOOR AND HIT HEAD AND ELBOW DX ABRASION ELBOW, FALL
SF 7 11 HIT HEAD AND ELBOW
72 YOF FELL IN FLOOR GETTING UP FROM CHAIR  DX ;  L HP FX
TRS 5 9 GETTING UP FROM CHAIR
66YOF S/P GLF, STATES SHE TRIPPED OVER A SMALL PLAY BALL & FELL, C/O FACIAL LAC & R ARM PAIN. DX - LAC OF L EYEBROW
OBJ 8 12 TRIPPED OVER A SMALL
OBJ 8 14 TRIPPED OVER A SMALL PLAY BALL
68YOM FELL OUT OF BED ONTO FLOOR AND HIT HEAD. DX COPD, BRONCHITIS, SEPSIS
CHR 1 5 FELL OUT OF BED
86YOM WAS TRYING TO PUT UP HURRICANE SHUTTERS ON A LADDER AND FELL OFF DX : AC SEPARATION OF RIGHT SHOULDER
LAD 8 11 ON A LADDER
82YOF WAS GETTING OUT OF BED AND FELL STRIKING CHEST ON THE NIGHTSTAND DX : CONTUSION TO RIBS
TRS 2 6 GETTING OUT OF BED
76YOF WAS FIXING TO TAKE THE DOG OUT AND TRIPPED OVER THE RUG AND SLOWLY FELL AGAINST THE BACK OF THE COUCH HURTING LEFT SIDE. DX : SPRAIN OF RIBS, SPRAIN OF THORACIC SPINE, SPRAIN OF LUMBAR SPINE.
COL 6 8 DOG OUT
OBJ 9 13 TRIPPED OVER THE RUG
77YOF FELL TO THE FLOOR AT THE NURSING HOME STRIKING BACK OF HEAD DX : CLOSED HEAD INJURY; LACERATION TO SCALP
SU 9 13 STRIKING BACK OF HEAD
82YO F HAD FALL OF 5 FEET FROM LADDER WHILE PAINTING. DX : MULTIPLE RIB FXS, SHOULDER DISLOCATION.
LAD 7 9 FROM LADDER
92YOF PT WAS TRANSFERRING FROM THE TOILET TO THE WHEELCHAIR AND FELL TO THE FLOOR. DX : GLF, FOREHEAD LACERATION.
CHR 3 7 TRANSFERRING FROM THE TOILET
66YOF STATES 2 DAYS AGO AT LUNCH FELT WARM SWEATY FLUSH PASSED OUT FOR 5 MIN, THEN TODAY WHILE URINATING ON TOILET HAD SYNCOPALEVENT AND WOKE UP ON THE BATHROOM FLOOR W/ HEADACHE RT OCCIPITAL SIDE DX : SYNCOPE HTN
WT 26 32 WOKE UP ON THE BATHROOM FLOOR
85YOF FELL GETTING OUT OF SHOWER, SLIPPED N BATH MAT, STRUCK KNEE   DX : LT KNEE CONTUSION
94 YOF SHOE CAUGHT IN GROOVE OF KITCHEN FLOOR, GRABBED CHAIR, IT GAVE WAY, FELL IN FLOOR. DX HIP FRACTURE
88 YOF FELL IN FLOOR  DX ;  SDH
84YOM P/W UNWITNESSED FALL W/ UNKNOWN EXACT MECHANISM FROM NURSING HOME. PT WAS CHANGING CLOTHES AND LOST BALANCE AND FELL ONTO HIS KNEES. DX : UNABLE TO WALK; KNEE ABRASION; PACEMAKER; DEMENTIA
SF 22 26 FELL ONTO HIS KNEES
94YOF-BIB EMS PT WAS GETTING UP TO GO TO BATHROOM AND FOLEY CATERER WAS ATTACHED TO THE BED PT FELL ONTO FLOOR PAIN TO RIGHT HIP DX ; CONTUSION RIGHT HIP
TRS 6 10 GETTING UP TO GO
82YOF REPORTS SHE FELL AT 1030AM. PT STATES SHE WAS WALKING UPSTAIRS AND HER RT LEG GAVE OUT ON HER AND SHE FELL DOWN 11 STAIRS STRICKING MULTIPLE BODY PARTS INCLUDING HER HEAD. PT DENIES LOC. REPORTS PAIN IN HER HEAD, NECK, LUMBAR SPINE, RT HAND AND RT ANKLE. DX :CONCUSSION W/O LOC, FALL
SU 31 34 INCLUDING HER HEAD
STR 23 27 FELL DOWN 11 STAIRS
SU 27 34 STRICKING MULTIPLE BODY PARTS INCLUDING HER HEAD
66YOF FELL TO THE FLOOR AT HOME ONTO HEAD DX : EPIDURAL HEMATOMA
SF 7 9 ONTO HEAD
79 YOM WAS SITTING IN A CHAIR PUTTING ON HIS CLOTHES AFTER TAKING A SHOWER WHEN HE DEVELOPED LEFT SIDED WEAKNESS AND FELL OFF THE CHAIR SUSTAINING A CONTUSION AND ABRASION TO LEFT SIDE OF HEAD AND LEFT ELBOW. DX : ACUTE ISCHEMIC STROKE
CHR 22 26 FELL OFF THE CHAIR
86YOF  LEANED AND REACHED TO FAR TRYING TO PUSH DOOR CLOSED LOST BALANCE AND FELL  FALLING ON TO R SIDE  HAVING R HIP PAIN DX R HIP FX
98YOF WAS GETTING OUT OF BED TRIPPED OVER HER SHOES AND FELL TO THE FLOOR DX : RIB FX AND RIGHT HIP FX
TRS 2 6 GETTING OUT OF BED
OBJ 6 10 TRIPPED OVER HER SHOES
90YOM FELL AT HOME OUT OF BED AND ENDORSES R HIP PAIN, PALLIATIVE PATIENT ON HOSPICE, DEMENTIA, DX : R PERIPROSTHETIC HIP FX
87YOF FELL OUT OF BED TO CARPETED FLOOR ONTO HEAD. DX : CLOSED HEAD INJURY
SF 8 10 ONTO HEAD
CHR 1 5 FELL OUT OF BED
68YOF PT LIVES IN A LOCAL NURSING HOME AND ATTEMPTED TO GET OUT OF WHEELCHAIR AND WALK WHEN SHE FELL ONTO FLOOR DX LEFT EYEBROW LACERATION, HEMATOMA TO LEFT HUMERUS,CLOSED HEAD INJURY W/OLOC
SF 19 22 FELL ONTO FLOOR
93YOF WAS WALKING AT THE NURSING HOME WHEN SHE FELL TO THE FLOOR STRIKING BACK OF HEAD DX : CLOSED HEAD INJURY
SU 13 17 STRIKING BACK OF HEAD
77 YOF FELL AND HAS A LACERATION ON HER HEAD. BY THE FRONT DOOR SHE LEANED OVER , GRABBED A MAT TO PULL IT TOWARDS HER. SHE PULLED HERSELF OVER THE TOP AMD STUMBLED AND HIT HER RIGHT FOREHEAD AGAINST THE DOOR SILL. DX : LACERATION, 3 CM, RIGHT FOREHEAD PARIENTAL SIDE. LET WRIST SPRAIN. FALL. HYPERTENSION
OBJ 30 34 HERSELF OVER THE TOP
75YOM SLIPPED AND FELL EMPTYING LAWN MOWER-- DX :HEAD INJURY+FX HUMERUS
95YOF UNWITNESSED FALL TO FLOOR, UNKOWN IF PT HIT HEAD. DX UTI
SU 9 11 HIT HEAD
87YOF PT LIVES WITH HER DAUGHTER, PT WAS SLEEP WALKING LAST NIGHT WHEN SHE FELL LANDED ON FLOOR HURTING LT HIP SEVERE PAIN DX FRACTURE LT HIP
SF 16 19 LANDED ON FLOOR
68 YOM SLIPPED AND FELL AFTER DRINKING ALCOHOL SLIPPED IN BATHROOM INJURED UPPER ARM AND SIDE ON A WASHIMNG MACHINE NO BAL DX : FRACTURE UPPER ARM RIB FRACTURE
95 YOF FELL AT HOME HITTING HER HEAD ON THE TV.  DX :  SCALP LACERATION
85YOF WAS GETTING OUT OF BED AT THE REHAB CENTER AND FELL TO CARPETING ONTO LEFT HIP DX : FRACTURED HIP
TRS 2 6 GETTING OUT OF BED
SF 13 17 CARPETING ONTO LEFT HIP
80YOM TRIPPED GOING DOWN A STEP AND FELL, NO LOC. DX : FOOT SPRAIN
STR 2 6 GOING DOWN A STEP
71YOF TRIPPED OVER HER SNEAKERS WHILE DOING HER HAIR IN HER BATHROOM. DX : CLOSED FX OF MULTIPLE RIBS OF RIGHT SIDE
OBJ 1 5 TRIPPED OVER HER SNEAKERS
93YOF PT STATES WAS IN HIS APARTMENT AT *** WHEN HE WEN TO GRAB A PILLOW FROM THE CHAIR AND FELL ONTO LEFT SIDE STAES HITTING CHEST AND HEAD ON FLOOR DX CLOSED FRACTURE ONE RIB ON LEFT SIDE, CLOSED HEAD INJURY W/O LOC
SF 27 33 HITTING CHEST AND HEAD ON FLOOR
84YOM, FELL OUT OF WHEELCHAIR YESTERDAY ?IF STRUCK HEAD, TODAY WAS EATING LUNCH, DROPPED A FORK TO THE FLOOR, LEANED OVER TO PICKIT UP THEN SYNCOPIZED & FELL & BECAME UNRESPONSIVE DX : R/O HEAD TRAUMA, SEIZURE
CHR 2 6 FELL OUT OF WHEELCHAIR
77YOM FELL TO THE FLOOR AT HOME ONTO LEFT HIP DX : HIP FRACTURE
SF 7 10 ONTO LEFT HIP
89YOF WAS WEARING A POSTOPERATIVE SHOE SECONDARY TO A RECENT TOE SURGERY AND LOST HER BALANCE AND FELL INTO A WALL DX : CLOSED FRACTURE OF RIGHT HIP
SO 17 21 FELL INTO A WALL
71 YOM S/P FALL ON 02/04. HE WAS AMBULATING WHEN HE TRIPPED AND FELL DOWN A FEW STAIRS STRIKING HIS LEFT EYE AGAINST A DOOR. DX CLOSED HEAD INJURY, ABRASIONS FACE
SF 5 8 FALL ON 02/04
STR 16 21 FELL DOWN A FEW STAIRS
SO 21 28 STRIKING HIS LEFT EYE AGAINST A DOOR
77 YOF FELL FROM BED STRIKING FOREHEAD. DX : LACERATION OF FOREHEAD
SU 5 7 STRIKING FOREHEAD
CHR 2 5 FELL FROM BED
79 YOM FELL IN KITCHEN FLOOR AT HOME ON ***. DX CEPHALOHEMATOMA, ELEVATED INR
83YOM FELL DOWN FLIGHT OF STAIRS - PT  FOUND IN PUDDLE OF BLOOD  DX : INTRACRANIAL HEMORRHAGE, SCALP LAC, TEMPORAL BONE FX, RT CLAVICLE RX, MULTIPLE RIB FX'S    %
STR 1 6 FELL DOWN FLIGHT OF STAIRS
79YOM, WAS WALKING TO THE KITCHEN WHEN TRIPPED OVER OWN SLIPPERS AND A DRINKING GLASS WAS HOLDING IN HAND SHATTERED UPON FALLING CUTTING HAND, +LACERATION, DX : HAND INJURY, RIGHT
OBJ 8 12 TRIPPED OVER OWN SLIPPERS
82YOF FELL GOING UP STEPS. DX : HEMATOMA ELBOW, SKIN TEAR MULTI SITES
STR 2 5 GOING UP STEPS
93YOF HAD A SLIP AND FALL WHILE USING A WALKER STRUCK HEAD ON THE FLOOR DX : CLOSED HEAD INJURY ABRASION TO FACE
SF 10 15 STRUCK HEAD ON THE FLOOR
69YOF FELL BACKWARDS TRYING TO OPEN A DOOR AND FELL ONTO HEAD DX : CLOSED HEAD INJURY CONTUSION TO LOWER BACK
SF 9 12 FELL ONTO HEAD
71 YOM SLIPPED AND FELL DOWN THREE CONCRETE STEPS OUTSIDE  HOUSE   DX :  HIP FRACTURE
92YOF EVAL OF HEAD INJURY, HX HTN, DM, FROM SENIOR HOME, S/P FALL, PT TRIPPED OVER A COFFEE TABLE FELL BACKWARDS HIT BACK OF HER HEAD ON CARPET , NO LOC OR THINNERS DX TRAUMATIC INJURY OF HEAD
OBJ 21 26 TRIPPED OVER A COFFEE TABLE
SF 28 35 HIT BACK OF HER HEAD ON CARPET
70YOM FELL FACE DOWN ON FLOOR IN NURSING HOME. + 2CM LAC TO BRIDGE OF NOSE DX FALL
SF 1 6 FELL FACE DOWN ON FLOOR
92YOF BROUGHT IN BY EMS. PT WAS AT HOME INSIDE AND TRIPPED AND FELL DOWN 2-3 STAIRS. PT DENIES HITTING HEAD OR LOC. EMS STATES DEFORMITY OF LEFT ANKLE WITH OPENING. DX : TYPE I OR II OPEN FRACTURE OF LEFT TIBIA AND FIBULA.57
STR 14 20 FELL DOWN 2-3 STAIRS
75 YOM STATES WHILE WALKING THIS MORNING, NOT WATCHING AND TRIPPED OVER AN ORANGE CONSTRUCTION CONE IN THE STREET. PT STATES FELL HITTING HIS KNEE AND ELBOW. DX : ABRASION ELBOW, KNEE PAIN
OBJ 11 15 TRIPPED OVER AN ORANGE
SF 24 29 HITTING HIS KNEE AND ELBOW
87YOF FELL FORWARD TODAY. WAS IN YARD WHEN HOSEPIPE GOT TANGLED UP AND SHE FELL DX : HEAD TRAUMA, ECCHYMOSIS, R SHOULDER PAIN, R KNEE PAIN, LEFT THIGH PAIN, CHEST AND BACK PAIN
72YOM.WALKING TRIPPED OVER STEP. DX .CONT.LT.LEG
OBJ 1 4 TRIPPED OVER STEP
84 YOF BIBA FROM HOME WITH DAUGHTER, ABD PAIN S/P FALL FROM GETTING OUT OF BED, DX L1 VERTEBRAL FX
TRS 15 19 GETTING OUT OF BED
CHR 13 19 FALL FROM GETTING OUT OF BED
66YOF WITH FALL DOWN ONE STEP  DX :  CHI
65 YOM PT TRIPPED OVER A RUG FELL BACKWARDS HITTING HEAD ON FLOOR +LOC DX CHI
OBJ 3 7 TRIPPED OVER A RUG
SF 9 13 HITTING HEAD ON FLOOR
74YOF WITH FALL IN SHOWER DX : CHI AND LAC TO HEAD
88YOM FELL AT HOME, HIT HIS HEAD ON THE COUCH.  DX .  FRACTURED FACE, FX. C-SPINE
69YOF WITH FALL DOWN 2 STEPS DX : FRACTURED FOOT
STR 2 6 FALL DOWN 2 STEPS
79 YOM FELL OFF LADDER  DX ;  CHI, FACE LAC
LAD 3 5 OFF LADDER
71YOM S/P FALL AT NURSING HOME WHICH WAS UNWITNESSED WAS FOUND DOWN W/ TRAUMA TO FACE, PER PT WAS LAYING IN BED STARTED FEELING DIZZY SAT DOWN ON BED TO TRY TO FEEL BETTER BUT DIZZINESS CONTINUED AND FELL FORWARD HITTING FACE ON THE FLOOR +THREE 1-2CM LACS ON FACE DX : FALL
TRS 22 25 LAYING IN BED
SF 53 56 LACS ON FACE
SF 43 48 HITTING FACE ON THE FLOOR
68YOF SCALP LAC WHEN TRIP AND FALL HITTING HEAD ON FLOOR AS PER SON DX SCALP LAC, HEAD INJURY
SF 7 11 HITTING HEAD ON FLOOR
86YOF FELL TO FLOOR MOVING FROM COMMODE CHAIR AT HOME INJURY FOREHEAD DX : HEMATOMA FOREHEAD

TRS 4 7 MOVING FROM COMMODE
69YOF WAS GETTING OUT OF THE SHOWER AND HAD A SLIP AND FALL TO THE TILE FLOOR DX : CLOSED HEAD INJURY LACERATION TO ELBOW
85YOM WAS WALKING UP STEP TO PORCH AND TRIPPED INJURING LOWER LEG DX ABRASIONS LOWER LEG

In [ ]:
random_sample_sub2 = random_sample_sub.iloc[1000:1100,]
for text in random_sample_sub2['narrative']:
    doc = nlp(text)
    for span in doc.spans["sc"]:
        print(text, span.label_, span.text)

In [151]:
import pandas as pd

# Create an empty DataFrame with column names
output_df = pd.DataFrame(columns=['text', 'span_label', 'span_text'])

for text in random_sample_sub2['narrative']:
    doc = nlp(text)
    
    if len(doc.spans["sc"]) == 0:
        df2 = pd.DataFrame([[text, "NA", "NA"]], columns=['text', 'span_label', 'span_text'])
        # Append the new row to the DataFrame
        output_df = pd.concat([output_df, df2])
    else:
        for span in doc.spans["sc"]:
        # Create a new row as a dictionary
        
            df2 = pd.DataFrame([[text, span.label_, span.text]], columns=['text', 'span_label', 'span_text'])
            # Append the new row to the DataFrame
            output_df = pd.concat([output_df, df2])

In [152]:
output_df.to_csv("predictions.csv")